Импортировать модули sys numpy pandas

In [1]:
import sys
import numpy as np
import pandas as pd

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [3]:
print(pd.Series([1, 2, 3, 4]))
print(pd.Series(np.arange(5)))
print(pd.Series({'a':1, 'b':3}))

0    1
1    2
2    3
3    4
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int32
a    1
b    3
dtype: int64

Преобразовать объект Seris в DataFrame
создать объект Series
преобразовать в DataFrame

In [7]:
print(pd.Series([1,2 , 3, 4]).to_frame())

   0
0  1
1  2
2  3
3  4


объединить несколько объектов Series в Dataframe

In [9]:
A = pd.Series([1,2 , 3, 4])
B = pd.Series(np.arange(4))

df = pd.concat([A, B], axis=1)
print(df)

   0  1
0  1  0
1  2  1
2  3  2
3  4  3

Присвоить имя индексу объекта Series

In [11]:
A.name = 'new_name'
A

0    1
1    2
2    3
3    4
Name: new_name, dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B
возвратить вместе с индексами
возвратить значения

In [16]:
A = pd.Series([1, 3, 4, 2, 5])
B = pd.Series([4, 5, 6, 7, 8])
A[~A.isin(B)]

0    1
1    3
3    2
dtype: int64

Получить не пересекающиеся элементы в двух объектах Series
возвратить вместе с индексами
получить объединенный Series без повтороений
получить пересекающиеся данные
отобрать все данные, кроме пересекающихся
возвратить значения

In [25]:
C = pd.Series(np.union1d(A, B))
C

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [26]:
C[~C.isin(np.intersect1d(A, B))]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

Получить от объекта Series показатели описательной статистики

Узнать частоту уникальных элементов объекта Series (гистограмма)

Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

Найти сумму всех вторников

Для каждого месяца найти среднее значение

Преобразовать объект Series в DataFrame заданной формы (shape)

Найти индексы объекта Series кратные 3

Получить данные по индексам объекта Series

Объединить два объекта Series вертикально и горизонтально

Получить индексы объекта Series A, данные которых содержатся в объетке Series B

Получить объект Series B, котоырй содержит элементы без повторений объекта A

Преобразовать каждый символ объекта Series в верхний регистр

преобразовать данных Series в строку

Рассчитать количество символов в объекте Series
преобразовать в строковый тип

Найти разность между объектом Series и смещением объекта Series на n

Преобразовать разыне форматы строк объекта Series в дату

Поскольку работа с датой часто встречается в работе, то см. еще один пример
все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)
преобразовать в дату

Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)
распарсить в дату и время
получить года
получить месяца
получить дни
получить номер недели
получить номер дня в году

Отобрать элементы объекта Series, кторые содержат не менее двух гласных

Отобрать e-маилы из объекта Series (можно юзать регулярки)

Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

 Найти евклидово расстоняие между двумя объектами Series

 Найти индексы локальных максимумов в объекте Series

 Заменить пробелы наименее часто встречающимся символов

 Создать объект Series, который содержит в индексах даты выходных дней субботы, а в значениях случайные числа от 1 до 10

 Заполнить пропущенные даты, значением выше (заполненной даты)

 Вычислить автокорреляцию объекта Series

In [ ]:
import sys
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

Прочитать файл CSV и перевести его в DataFrame
'https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv'

 Прочитать файл CSV (определенные столбцы и определенное кол-во строк) и перевести его в DataFrame
 'Name', 'Sex', 'Survived
 
 Прочитать файл CSV и перевести каждую 100-ую строку в DataFrame
 
 Преобразовать индексы объекта Series в столбец DataFrame
 
 Посмотреть информацию объекта DataFrame
 Вывести формат каждого столбца
 Вывести размерность DataFrame
 Вывести общую статистика